.NavBarConatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  padding: 5px 20px;
  background-color: white;
  z-index: 10000;
  flex-wrap: wrap;
  gap: 10px;
}


.logoImage {
  width: 160px;
  cursor: pointer;
}


.inputContainer {
  position: relative;
  flex: 1;
  max-width: 500px;
}

.inputElm {
  width: 100%;
  padding: 7px 7px 7px 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.inputElm:hover,
.inputElm:focus {
  border-color: tomato;
  outline: none;
}

.serchIcon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  font-size: 20px;
  cursor: pointer;
}


.addStoreBtn, .goToMyStorBtn, .LoginElm {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  color: tomato;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  white-space: nowrap;
}

.LoginElm:hover,
.addStoreBtn:hover,
.goToMyStorBtn:hover {
  background-color: tomato;
  color: white;
}

.buttonsStyle {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}


.profileIcon {
  width: 30px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 62px;
  right: 20px;
  padding: 6px;
  border-radius: 10px;
  border: 2px solid black;
  background: white;
}
.dropdown:hover {
  background-color: tomato;
}

@media (max-width: 768px) {
  .NavBarConatiner {
    flex-direction: column;
    align-items: center;
    gap: 8px; /* reduce space between elements */
    padding: 8px 10px;
    position: relative;
  }

  .logoImage {
    width: 140px;
    margin-left: 0;
  }

  .inputContainer {
    max-width: 100%;
    width: 90%;
  }

  .inputElm {
    width: 100%;
    font-size: 14px;
    padding: 6px 6px 6px 28px;
    margin-left: 0;
  }

  .serchIcon {
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }

  .buttonsStyle {
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-left: 0;
  }

  .addStoreBtn{
    padding: 6px 10px;
    font-size: 13px;
  }

  .buttonsStyle .goToMyStorBtn{
    padding: 6px 10px;
    font-size: 13px;
  }

  .profileIcon {
    margin-left: 0;
  }
  .dropdown{
    margin-top: 120px;
  }
}

@media (max-width: 480px) {

   .NavBarConatiner {
    flex-direction: column;
    align-items: center;
    gap: 8px; /* reduce space between elements */
    padding: 8px 10px;
    position: relative;
  }
  
  .logoImage {
    width: 120px;
  }

   .dropdown{
    margin-top: 120px;
  }

  .inputElm {
    font-size: 13px;
    padding: 6px 6px 6px 26px;
  }

  .addStoreBtn,
  .goToMyStorBtn,
  .LoginElm {
    padding: 5px 10px;
    font-size: 12px;
  }
}
