@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.shopsListComponents{
    display: flex;
    flex-wrap: wrap;
}

.gun{
    padding: 100px;
}
.ToSetSideBySide {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 50px 30px;
  background: #fafafa;
  min-height: 100vh;
}
.body {
  font-family: 'Inter', sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
